body {
    background-color: black;
    color: white;
}

.upper {
    display: inline-block;
    width: auto;
    height: 85px;
}

.lower {
    display: inline-block;
    width: 100%;
    height: 25%;
}

.lower-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.lower-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.number {
    align-self: center;
    font-size: 95px;
    line-height: 95px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

input {
    margin: 5px;
    width: 50px;
}